.testimonials
  .c
    .testimonials__title
      | Отзывы клиентов
      +the_svg('wavyline')

    .testimonials__items
      each i in [1,2,3,4,5]
        .testimonials__item
          .testimonials__card
            .testimonials__head
              +the_svg('testimonial')
              .testimonials__name Юлия Каширская
              .testimonials__label домохозяйка
            .testimonials__content
              p Заказывали дымник на вентиляционную трубу по своим размерам, сделали раньше обещанного срока (предупреждали, что могут делать его до месяца, а изготовили за 12 дней). У нас плоская кровля, приложу фото как смотрится на крыше.


