.testimonials {
  $this: &;

  padding: 70px 0 50px;
  @include mobile() {
    padding: 36px 0 80px;
  }

  &__title {
    font-size: 46px;
    font-weight: bold;
    @include ls-m();
    line-height: 1;
    text-align: center;
    margin-bottom: 60px;
    @include mobile() {
      font-size: 32px;
      margin-bottom: 21px;
    }
  }

  &__content {
    position: relative;
    transform: translate3d(0,0,0);
  }

  &__slider {
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    @include mobile() {
      margin: 0 -20px;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 33.3333%;
      pointer-events: none;
      z-index: 1;
      @include mobile() {
        display: none;
      }
    }

    &:before {
      left: 0;
      background-image: linear-gradient(90deg, rgba(#fff, 1), rgba(#fff, 0));
    }

    &:after {
      right: 0;
      background-image: linear-gradient(90deg, rgba(#fff, 0), rgba(#fff, 1));
    }
  }

  &__slides {
    display: flex;
  }

  &__slide {
    width: 33.3333%;
    flex-shrink: 0;
    will-change: filter;
    transform: translateZ(0);
    @include mobile() {
      padding: 0 20px;
    }
  }

  &__card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    max-width: 320px;
    margin: 0 auto;
  }

  &__avatar {
    position: relative;
    margin: 0 auto 21px;
    border: 10px solid $gray;
    @include mobile() {
      margin-bottom: 16px;
    }

    img {
      display: block;
      @include green-shadow();
    }

    &:before {
      content: '';
      position: absolute;
      width: 12px;
      height: 100%;
      left: 50%;
      margin-left: -6px;
      top: -23px;
      transform: skewY(-15deg);
      background: $green-dark;
      z-index: -1;
    }
  }

  &__name {
    @include book();
    line-height: 1.15;
    margin-bottom: 12px;
    @include mobile() {
      line-height: 1.3;
      margin-bottom: 7px;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 1.4;
    color: $gray-dark;
    margin-bottom: 17px;
    @include mobile() {
      font-size: 14px;
      line-height: 1.45;
      margin-bottom: 12px;
    }
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__img {
    cursor: pointer;
    margin: 2px;
    opacity: .5;
    @include anim();

    &:hover {
      opacity: 1;
    }
  }

  &__nav {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    color: $green-dark;
    cursor: pointer;
    @include mobile() {
      top: 100%;
      margin-top: 31px;
    }

    &:hover {
      color: $green;
    }

    svg {
      display: block;
      width: 20px;
      height: 20px;
      @include anim();
      @include mobile() {
        width: 34px;
        height: 34px;
      }
    }

    &--prev {
      left: 0;
      @include mobile() {
        left: auto;
        right: 50%;
        margin-right: 10px;
      }

      svg {
        transform: rotate(180deg);
      }
    }

    &--next {
      right: 0;
      @include mobile() {
        right: auto;
        left: 50%;
        margin-left: 10px;
      }
    }
  }
}

.blur {
  -webkit-filter: url(#blurFilter);
  -moz-filter: url(#blurFilter);
  -ms-filter: url(#blurFilter);
  -o-filter: url(#blurFilter);
  filter: url(#blurFilter);
}
