.testimonials
  .c
    .testimonials__title Истории клиентов и их домов:

    .testimonials__content
      .testimonials__slider
        .testimonials__slides
          each i in [1,2,3,4,5]
            .testimonials__slide
              .testimonials__card
                .testimonials__avatar: img(src=require('src/modules/testimonials/img/avatar.jpg'))
                .testimonials__name
                  | Петров Николай#{' '}
                  =i
                .testimonials__text Повседневная практика показывает, что рамки и место обучения кадров в значительной степени обуславливает создание новых предложений. Таким образом новая модель организационной деятельности влечет за собой .
                .testimonials__gallery
                  each i in [1,2,3]
                    button.testimonials__img: img(src=require('src/modules/testimonials/img/img_0' + i + '.jpg'))

      .testimonials__nav.testimonials__nav--prev: +the_svg('arrow-right')
      .testimonials__nav.testimonials__nav--next: +the_svg('arrow-right')
