.catalog
  .c.catalog__body
    +breadcrumbs(['Каталог', 'Кровля', 'Металлочерепица'])
    .catalog__search
      button.catalog__filterButton: +the_svg('filter')
      input.catalog__searchInput
      button.catalog__searchButton: +the_svg('search')

    .catalog__popular
      .catalog__popularLabel Популярный запросы
      a(href='#') Кровля
      a(href='#') Топ продаж
      a(href='#') Забор
      a(href='#') Коричневый
      a(href='#') Кровля

    .catalog__container
      .catalog__aside
        .catalog__menu
          .catalog__category Кровля
          a.catalog__subcategory.catalog__subcategory--active(href='#') Металлочерепица
          include ../filter/filter
          a.catalog__subcategory(href='#') Кровельный профнастил
          a.catalog__subcategory(href='#') Гибкая черепица
          a.catalog__subcategory(href='#') Натуральная черепица
          a.catalog__subcategory(href='#') Сэндвич-панели
          a.catalog__subcategory(href='#') Композитная кровля
          a.catalog__subcategory(href='#') Фальцевая кровля
        .catalog__menu
          .catalog__category Фасады
          a.catalog__subcategory(href='#') Стеновой профнастил
          a.catalog__subcategory(href='#') Сэндвич-панели
          a.catalog__subcategory(href='#') Фиброцементный сайдинг
          a.catalog__subcategory(href='#') ЭкоБрус
        .catalog__menu
          .catalog__category Заборы
          a.catalog__subcategory(href='#') Металлический штакетник
          a.catalog__subcategory(href='#') Модульные ограждения
          a.catalog__subcategory(href='#') Профильная труба для забора
          a.catalog__subcategory(href='#') Профнастил для забора
          a.catalog__subcategory(href='#') Сварные ограждения
        .catalog__menu
          .catalog__category Сопутствующие материалы
          a.catalog__subcategory(href='#') Вентиляция и проходные элементы
          a.catalog__subcategory(href='#') Водосточные системы
          a.catalog__subcategory(href='#') Дымники
          a.catalog__subcategory(href='#') Мансардные окна
          a.catalog__subcategory(href='#') Снегозадержатели
          a.catalog__subcategory(href='#') Чердачные лестницы
        .catalog__menu
          .catalog__category Прочее
          a.catalog__subcategory(href='#') Влагостойкая фанера OSB

      .catalog__main
        .catalog__head
          .catalog__title Металлочерепица
          .catalog__settings
            select.select.catalog__sort
              option Сначала дешевые
              option Сначала дорогие

        .catalog__items
          each i in [1,2,3,4,5,6,7,8,9,10,11]
            .catalog__item: +the_card(i)
        .catalog__pagination
          include ../pagination/pagination

