.search
  .search__input
    input(placeholder='Введите запрос')
    +the_svg('search').search__icon
    button.search__close: +the_svg('close')

  .search__results
    each i in [1,2]
      .search__row
        .search__tag -20%
        .search__image
          img(src=require('src/img/catalog/1.jpg'))
        .search__info
          .search__title Название какого-либо товара который есть
          .search__category какой-то раздел
        .search__price
          .search__priceNew #[span 80] руб. / м2.
          .search__priceOld 95 руб./ м2
        .search__count
          .counter
            button.counter__button.counter__button--minus &ndash;
            .counter__value 0
            button.counter__button.counter__button--plus +
        .search__cart: button.btn.btn--leftBottom.btn--sm В корзину
        .search__arrow: +the_svg('chevrone-down')
        a.search__link(href='#')
