.productBuy
  .productBuy__left
    .productBuy__priceOld 26 750 #[span руб / м#[sup 2]]
    .productBuy__price 23 800 #[span руб / м#[sup 2]]
    .productBuy__counter
      .counter.counter--lg
        button.counter__button.counter__button--minus &ndash;
        input.counter__value(value='0')
        button.counter__button.counter__button--plus +

  .productBuy__right
    button.productBuy__cheap Нашли дешевле?
    .productBuy__total 600 рублей
    .productBuy__button: button.btn.btn--rightTop.btn--smLeftBottom.btn--smMobile Добавить в корзину
