.paymentInfo
  .paymentInfo__block1
    .paymentInfo__title Оплата с помощью банковской карты
    .paymentInfo__text
      | Оплата производится на сайте через__________*.#[br]
      | Конфиденциальность сообщаемой персональной информации обеспечивается _______________.#[br]
      | Оплата происходит через авторизационный сервер Процессингового центра Банка с использованием банковских кредитных карт следующих платежных систем:
    img.paymentInfo__cards(src=require('src/modules/paymentInfo/img/cards.png'))
  .paymentInfo__block2
    .bullets
      .bullets__item: .bullets__text Сайт «Ваш Дом» предлагает безопасную он-лайн оплату приобретаемых товаров.
      .bullets__item: .bullets__text Наш сайт не собирает и не хранит персональные данные

    .paymentInfo__note
      +the_svg('note')
      | Если Вы уже выбрали все необходимые материалы на сайте производственной компании «Ваш Дом», можете приступить к оплате.
