.services
  .c.services__container
    .services__aside
      .services__title Услуги
      .services__nav
        .services__heads
          button.services__head.services__head--active Рассрочка 0-0-12
          button.services__head Бесплатный замер
          button.services__head Производство в размер
          button.services__head Бережная доставка
          button.services__head Готовое решение
        .services__pointer

    .services__main
