.services
  .c
    .services__title
      | Наши услуги
      +the_svg('wavyline')
    .services__items
      .services__item: .services__card
        .services__icon: +the_svg('services_01', 'services')
        .services__header Производство в размер
        .services__text 
          p Производство в размер обладает рядом преимуществ:#[br]Снижение расходов за счет отсутствия отходов;#[br]Сокращение срока монтажа;#[br]Повышение надежности и срока эксплуатации кровельных материалов.

      .services__item: .services__card
        .services__icon: +the_svg('services_02', 'services')
        .services__header Доставка
        .services__text 
          p Мы доставляем стройматериалы в строгом соответствии с требованиями к транспортировке и отгрузке металлопрофиля.#[br]Это гарантирует нашим клиентам сохранность и безупречный вид доставленного товара.

      .services__item: .services__card
        .services__icon: +the_svg('services_03', 'services')
        .services__header Рассрочка 0-0-3
        .services__text 
          p Рассрочка беспроцентная: вы не платите за пользование деньгами;#[br]Высокая вероятность одобрения: до 95%;#[br]Быстрое рассмотрение: решение от банка придет за 2 минуты. Рассрочка доступна гражданам России в возрасте от 18 до 75 лет;#[br]Первоначальный платеж - 0%;#[br]Срок рассрочки - 3 месяца

      .services__item: .services__card
        .services__icon: +the_svg('services_04', 'services')
        .services__header Бесплатный замер
        .services__text 
          p Если вы не потомственный монтажник или мастер-самоучка с платиново-золотыми руками, то рекомендуем пользоваться услугой БЕСПЛАТНОго замера нашими специалистами!

      .services__item: .services__card
        .services__icon: +the_svg('services_05', 'services')
        .services__header Доставка образцов
        .services__text 
          p Помимо замера Вы сможете оценить рекомендуемые образцы, буквально подержать в руках будущую кровлю, забор или фасад, и выбрать наиболее подходящий вариант.

      .services__item: .services__card
        .services__icon: +the_svg('services_06', 'services')
        .services__header Профессиональный монтаж
        .services__text 
          p Монтаж кровельных материалов – понятный и четко спланированный процесс для профессионалов. Если вы далеки от строительства и имеете лишь некоторое представление о том, как выполняются операции по подготовке и монтажу кровли, рекомендуем доверить это специалистам. 
          p Компания «Ваш Дом» начинала свою деятельность именно с монтажных работ. Сегодня мы производим и продаем высококачественные строительные материалы, но монтаж от наших профессиональных бригад при этом остается одной из самых востребованных услуг.
    .services__link: a.rawBtn.rawBtn--big.rawBtn--fill(href='#') Получить консультацию

