.services
  .c.services__container
    .services__aside
      .services__title Услуги
      .services__nav
        .services__heads
          button.services__head.services__head--active Рассрочка 0-0-12
          button.services__head Бесплатный замер
          button.services__head Производство в размер
          button.services__head Бережная доставка
          button.services__head Проф. монтаж
          button.services__head Готовое решение
        .services__pointer

    .services__main
      .services__content
        .services__slider
          .services__slides
            .services__slide.services__slide--active
              .services__header Рассрочка 0-0-12
              .services__text
                p Выбирайте из сотен образцов у себя дома или в офисе. Наш инженер – строитель произведет точные замеры и даст рекомендации по выбору кровельных и фасадных материалов, необходимых комплектующих.
              .services__more: a.btn.btn--smLeftBottom Подробнее
            .services__slide
              .services__header Бесплатный замер
              .services__text
                p Выбирайте из сотен образцов у себя дома или в офисе. Наш инженер – строитель произведет точные замеры и даст рекомендации по выбору кровельных и фасадных материалов, необходимых комплектующих.
                p Выбирайте из сотен образцов у себя дома или в офисе. Наш инженер – строитель произведет точные замеры и даст рекомендации по выбору кровельных и фасадных материалов, необходимых комплектующих.
                p Выбирайте из сотен образцов у себя дома или в офисе. Наш инженер – строитель произведет точные замеры и даст рекомендации по выбору кровельных и фасадных материалов, необходимых комплектующих.
              .services__more: a.btn.btn--smLeftBottom Подробнее
            .services__slide
              .services__header Производство в размер
              .services__text
                p Выбирайте из сотен образцов у себя дома или в офисе. Наш инженер – строитель произведет точные замеры и даст рекомендации по выбору кровельных и фасадных материалов, необходимых комплектующих.
              .services__more: a.btn.btn--smLeftBottom Подробнее
            .services__slide
              .services__header Бережная доставка
              .services__text
                p Выбирайте из сотен образцов у себя дома или в офисе. Наш инженер – строитель произведет точные замеры и даст рекомендации по выбору кровельных и фасадных материалов, необходимых комплектующих.
              .services__more: a.btn.btn--smLeftBottom Подробнее
            .services__slide
              .services__header Проф. монтаж
              .services__text
                p Выбирайте из сотен образцов у себя дома или в офисе. Наш инженер – строитель произведет точные замеры и даст рекомендации по выбору кровельных и фасадных материалов, необходимых комплектующих.
                p Выбирайте из сотен образцов у себя дома или в офисе. Наш инженер – строитель произведет точные замеры и даст рекомендации по выбору кровельных и фасадных материалов, необходимых комплектующих.
              .services__more: a.btn.btn--smLeftBottom Подробнее
            .services__slide
              .services__header Готовое решение
              .services__text
                p Выбирайте из сотен образцов у себя дома или в офисе. Наш инженер – строитель произведет точные замеры и даст рекомендации по выбору кровельных и фасадных материалов, необходимых комплектующих.
              .services__more: a.btn.btn--smLeftBottom Подробнее

      img.services__decor(src=require('src/modules/services/img/decor.png'))
