.paymentTypes
  .paymentTypes__title Вы можете воспользоваться различными способами расчета:
  .paymentTypes__types
    a(href='#') Калькулятор
    a(href='#') Готовые решения
    a(href='#') Индивидуальный расчет проекта
  .paymentTypes__text
    p В разделе Готовые решения есть целый ряд выполненных проектов с указанием размеров и расхода материала.Возможно Вам нет необходимости заказывать индивидуальный расчет, и Вы можете воспользоваться данными одного из наших готовых проектов.
