.timeSave
  .c
    +the_svg('wavyline').wavyline.timeSave__wavyline
    .timeSave__title А еще мы экономим время!
    .timeSave__items
      .timeSave__item
        .timeSave__card.timeSave__card--green
          .timeSave__header Есть размеры или#[br]готовый проект?
          .timeSave__text Посчитаем.
          .timeSave__button: button.btn Заказать расчет
          img.timeSave__decor.timeSave__decor--1(src=require('src/modules/timeSave/img/decor_01.png'))

      .timeSave__item
        .timeSave__card
          .timeSave__header Когда нет времени, то можно заказать видеоконсультации в WhatsApp и Viber.
          .timeSave__button: button.btn Подробнее
          img.timeSave__decor.timeSave__decor--2(src=require('src/modules/timeSave/img/decor_02.png'))
