.dealer
  .c
    .dealer__title Мы #[span официальный дилер] Северсталь
    .dealer__subtitle и еще ТОП 6 причин, почему стоит купить у нас:
    .dealer__items
      .dealer__item
        .dealer__card
          +the_svg('dealer_01').dealer__icon
          .dealer__head Официальный дилер Северсталь, НЛМК, ММК
          .dealer__text Значимость этих проблем настолько очевидна, что начало повседневной работы.
      .dealer__item
        .dealer__card.dealer__card--active
          +the_svg('dealer_02').dealer__icon
          .dealer__head Производство#[br] от 3 часов#[br] по ГОСТ
          .dealer__text Равным образом постоянный количественный рост и сфера нашей активности играет.
      .dealer__item
        .dealer__card
          +the_svg('dealer_03').dealer__icon
          .dealer__head 100% гарантия#[br] качества
          .dealer__text Важную роль в формировании позиций.
      .dealer__item
        .dealer__card
          +the_svg('dealer_04').dealer__icon
          .dealer__head 6000#[br] наименований#[br] в ассортименте
          .dealer__text Высшего порядка, а также консультация с широким активом позволяет выполнять важные задания.
      .dealer__item
        .dealer__card
          +the_svg('dealer_05').dealer__icon
          .dealer__head Низкие цены#[br] от производителя
          .dealer__text По разработке дальнейших направлений развития.
      .dealer__item
        .dealer__card
          +the_svg('dealer_06').dealer__icon
          .dealer__head 87% монтажных работ выполнили раньше срока
          .dealer__text Развития. Идейные соображения высшего порядка, а также рамки и место обуч

