.dealer
  .dealer__content
    img(src=require('src/modules/dealer/img/severstal_logo.svg'))
    .dealer__title Мы официальный дилер «Северсталь»
    .dealer__text п оэтому качество производимой нами кровли высокое, а цены выгодные. Проверьте сами в калькуляторе
