.menu
  .menu__categories
    ul
      li
        button кровля
        +the_svg('chevrone-down')
      li
        button ФАСАДЫ
        +the_svg('chevrone-down')
      li
        button ПРОЧЕЕ
        +the_svg('chevrone-down')
      li
        button ЗАБОРЫ
        +the_svg('chevrone-down')
      li
        button Сопутствующие материалы
        +the_svg('chevrone-down')
  .menu__items
    button.menu__back
      +the_svg('chevrone-down')
      | Каталог

    ul
      li
        a(href='#') кровля
        ul
          li: a(href='#') Металлочерепица
          li: a(href='#') Кровельный профнастил
          li: a(href='#') Гибкая черепица
          li: a(href='#') Натуральная черепица
          li: a(href='#') Сэндвич-панели
          li: a(href='#') Композитная кровля
          li: a(href='#') Фальцевая кровля

      li
        a(href='#') ФАСАДЫ
        ul
          li: a(href='#') Стеновой профнастил
          li: a(href='#') Сэндвич-панели
          li: a(href='#') Фиброцементный сайдинг
          li: a(href='#') ЭкоБрус

      li
        a(href='#') ПРОЧЕЕ
        ul
          li: a(href='#') Влагостойкая фанера OSB

      li
        a(href='#') ЗАБОРЫ
        ul
          li: a(href='#') Металлический штакетник
          li: a(href='#') Модульные ограждения
          li: a(href='#') Профильная труба для забора
          li: a(href='#') Профнастил для забора
          li: a(href='#') Сварные ограждения

      li
        a(href='#') Сопутствующие материалы
        ul
          li: a(href='#') Вентиляция и проходные элементы
          li: a(href='#') Водосточные системы
          li: a(href='#') Дымники
          li: a(href='#') Мансардные окна
          li: a(href='#') Снегозадержатели
          li: a(href='#') Чердачные лестницы
