.productDescription.content
  h3 Описание VILPE SK Tuote Вентиль KTV-Huopa
  p Гибкая битумная черепица Döcke PIE EUROPA выполнена в виде плоского листа из пропитанного окисленным битумом стеклохолста с фигурными вырезами по одному из краёв. Верхняя поверхность черепицы - покрытие из прикатанного к битуму микса различных гранулятов: базальт, антрацит. Нижняя поверхность черепицы покрыта посыпкой из мелкозернистого песка, атакже транспортировочными плёнками.
  p Эта чрепица предназначена для покрытия скатных крыш зданий и сооружений с уклоном от 12 до 90 градусов.
  h6 Достоинства продукции DOCKE:
  ul.stars
    li.stars__item
      .stars__icon: +the_svg('star', 'manufacture')
      .stars__text Невысокая#[br]стоимость
    li.stars__item
      .stars__icon: +the_svg('star', 'manufacture')
      .stars__text Неподверженность#[br]гниению, коррозии#[br]и огню
    li.stars__item
      .stars__icon: +the_svg('star', 'manufacture')
      .stars__text Климатическая#[br]устойчивость,#[br]эластичность
    li.stars__item
      .stars__icon: +the_svg('star', 'manufacture')
      .stars__text Лекгий монтаж#[br]и небольшой вес
    li.stars__item
      .stars__icon: +the_svg('star', 'manufacture')
      .stars__text Простота ухода

