.form
  .form__title ВЫЗВАТЬ ЗАМЕРЩИКА
  .form__content
    .form__input
      .input: input(placeholder="Ваше имя")
    .form__input
      .input: input(placeholder="Телефон" type='tel')
    .form__confirm
      label.checkbox
        input(type='checkbox')
        span Я согласен с обработкой #[a(href='#') персональных данных]
    .form__button
      button.btn.btn--black ОТПРАВИТЬ

