.cart
  .c
    +breadcrumbs(['Корзина'])
    .cart__container
      h1.cart__title Корзина

      .cart__listHead
        .cart__image Фото
        .cart__name Наименование 1товара
        .cart__delivery Доставка
        .cart__cost Стоимость
        .cart__count Количество
        .cart__total Итого
        .cart__delete
      .cart__list
        each i in [1,2,3]
          .cart__item
            .cart__main
              .cart__image
                .cart__badge -20%
                img(src=require('src/img/catalog/' + i + '.jpg'))
              .cart__info
                .cart__name
                  .cart__category какой-то раздел
                  .cart__header Название какого-либо товара который есть
                .cart__delivery: .cart__available под заказ
                .cart__cost
                  .cart__price 560 #[span руб. / м2].
                  .cart__priceOld 95 руб./ м2
            .cart__counter
              .cart__count
                .counter
                  button.counter__button.counter__button--minus &ndash;
                  .counter__value 0
                  button.counter__button.counter__button--plus +
              .cart__total
                .cart__price.cart__price--total 24 000 #[span руб.]
                .cart__priceOld 25 000 руб.
            .cart__delete
              button.cart__deleteBtn: +the_svg('close')

      .cart__subtotal
        button.btn.btn--outline.btn--rightTop.cart__clearBtn
          +the_svg('trash')
          | Отменить заказ
        .cart__aside
          .cart__sum
            .cart__label общая сумма заказа:
            .cart__price 25 450 #[span руб.]
          .cart__sum
            .cart__label суммарная скидка:
            .cart__price 2 500 #[span руб.]

      .cart__checkout
        a.btn.btn--outline.btn--rightTop.cart__backBtn
          +the_svg('chevrone-down')
          | Продолжить покупки
        .cart__aside
          .cart__sum
            .cart__label итого:
            .cart__price.cart__price--final 23 800 #[span руб.]
        button.btn.btn--leftBottom.btn--smMobile.cart__orderBtn Оформить заказ
