.history
  .c
    .history__title
      | Наша кровля в городе
      +the_svg('wavyline')
    .history__items
      each i in [1,2,3,4]
        .history__item
          .history__card
            .history__cardImg: img(src=require('src/img/catalog/2.jpg'))
            .history__cardName Название объекта
            .history__cardText Чем покрыт объект, какие работы проводила компания, какие услуги оказала, возможно указать сколько времени заняла вся работа
