.frontCalculator {
  $this: &;

  max-width: 890px;
  padding: 80px 15px 126px;
  margin: 0 auto;
  @include mobile() {
    padding: 40px 20px 90px;
  }

  &__separator {
    margin: 0 auto 16px;
    @include mobile() {
      margin-bottom: 3px;
    }
  }

  &__suptitle {
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
    @include ls();
    margin-bottom: 3px;
    @include mobile() {
      font-size: 24px;
      line-height: 1.5;
      margin-bottom: -5px;
    }
  }

  &__title {
    text-align: center;
    color: $green-dark;
    font-size: 46px;
    font-weight: bold;
    line-height: 1;
    @include ls-m();
    margin-bottom: 7px;
    @include mobile() {
      font-size: 32px;
      margin-bottom: -3px;
    }
  }

  &__subtitle {
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 62px;
    @include ls();
    @include mobile() {
      font-size: 18px;
      line-height: 2;
      margin-bottom: 5px;
    }
  }
}
