.frontCalculator
  +the_svg('wavyline').frontCalculator__separator.wavyline
  .frontCalculator__suptitle В отличие от конкурентов
  .frontCalculator__title у нас выгодные цены
  .frontCalculator__subtitle как на кровлю, так и на материалы
  include ../calculator/calculator
