.frontCalculator {
  $this: &;

  margin: 80px 0;
  @include mobile() {
    margin: 40px 0;
  }

  &__title {
    font-size: 46px;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 60px;
    @include mobile() {
      font-size: 30px;
    }

    svg {
      display: block;
      margin: 15px auto 0;
      width: 90px;
      height: 16px;
      color: $green;
    }
  }

  &__content {
    margin: 0 auto;
    max-width: 890px;
    padding: 0 15px 50px;

  }
}
