form.calculator
  .calculator__main
    .calculator__head Экспресс-расчет стоимости кровли:
    .calculator__container
      .calculator__left
        .calculator__label выберите примерную форму кровли:
        .calculator__forms
          each name, i in ['односкатная', 'двухскатная', 'вальмовая', 'вальмовая2', 'мансардная']
            label.calculator__form
              input(type='radio' name='type' value=(i + 1))
              span
                =name
                +the_svg('calculator_0' + (i + 1), 'calculator')

      .calculator__right
        .calculator__s
          .calculator__label укажите площадь кровли, м2:
          input.slider.calculator__sSlider(type='range' value=150 min=50 max=500)
          .calculator__sValue
            input.calculator__sInput(type=text value=100)
            .calculator__sSup м#[sup 2]
        .calculator__covers
          .calculator__label выберите кровельное покрытие:
          each name, i in ['металлочерепица', 'гибкая черепица', 'натуральная черепица']
            label.calculator__cover
              input(type='radio' name='coating' value=(i + 1))
              span=name

  .calculator__aside
    .calculator__details
      .calculator__sumLabel кровельное покрытие#[br] и гидроизоляция:
      .calculator__sum.calculator__sum--base 103 000 руб.
      .calculator__sumLabel комплектующие:
      ul.calculator__complect
        li утепление и пароизоляция
        li снегозадержание
        li водосточная система
        li подшивка свесов
      .calculator__sum.calculator__sum--complect 121 000 руб.
    .calculator__total
      .calculator__sumLabel полная комплектация:
      .calculator__sum.calculator__sum--total 224 000 руб.
    .calculator__button
      button.btn.btn--leftTop Заказать смету
script.
  var PRICES_CALCULATOR_CONFIG = {
    "types":   [
      { "id": 1, "icon": 1, "title": "односкатная" },
      { "id": 2, "icon": 2, "title": "двухскатная" },
      { "id": 3, "icon": 3, "title": "вальмовая" },
      { "id": 4, "icon": 4, "title": "шатровая" },
      { "id": 5, "icon": 5, "title": "мансандровая" }
    ],
    "coating": [
      { "id": 1, "title": "металлочерепица" },
      { "id": 2, "title": "гибкая черепица" },
      { "id": 3, "title": "цементно-песчаная" }
    ],
    "s_min":   50,
    "s_max":   350,
    "s_init":  150,
    "prices":  {
      "1-1": { "0": [1240, 2740], "100": [1030, 2699], "150": [970, 2105], "200": [910, 1993] },
      "1-2": { "0": [1740, 3240], "100": [1450, 2660], "150": [1366, 2493], "200": [1355, 2435] },
      "1-3": { "0": [1800, 3300], "100": [1410, 2620], "150": [1300, 2426], "200": [1205, 2285] },
      "2-1": { "0": [1280, 3080], "100": [1040, 2340], "150": [960, 2193], "200": [975, 2085] },
      "2-2": { "0": [1700, 3500], "100": [1390, 2690], "150": [1313, 2547], "200": [1255, 2365] },
      "2-3": { "0": [2000, 3800], "100": [1520, 2820], "150": [1353, 2587], "200": [1260, 2370] },
      "3-1": { "0": [1740, 4180], "100": [1330, 3030], "150": [1200, 2647], "200": [1120, 2430] },
      "3-2": { "0": [1800, 4240], "100": [1480, 3180], "150": [1373, 2820], "200": [1305, 2615] },
      "3-3": { "0": [3080, 5520], "100": [2120, 3820], "150": [1813, 3260], "200": [1605, 2915] },
      "4-1": { "0": [1660, 4000], "100": [1320, 2930], "150": [1193, 2613], "200": [1115, 2435] },
      "4-2": { "0": [1740, 4080], "100": [1450, 3060], "150": [1360, 2780], "200": [1290, 2610] },
      "4-3": { "0": [2860, 5200], "100": [2070, 3680], "150": [1773, 3193], "200": [1590, 2910] },
      "5-1": { "0": [1360, 3380], "100": [1100, 2530], "150": [1020, 2260], "200": [960, 2095] },
      "5-2": { "0": [1760, 3780], "100": [1430, 2860], "150": [1353, 2593], "200": [1285, 2420] },
      "5-3": { "0": [2120, 4140], "100": [1590, 3020], "150": [1413, 2653], "200": [1300, 2435] }
    }
  };