extends ../pug/_layout

block body
  include ../modules/frontSlider/frontSlider
  include ../modules/frontCategories/frontCategories
  include ../modules/bests/bests
  include ../modules/services/services
  include ../modules/dealer/dealer
  include ../modules/frontCalculator/frontCalculator
  include ../modules/testimonials/testimonials
  include ../modules/history/history
  include ../modules/banners/banners

  //include ../modules/hints/hints
  //include ../modules/about/about
