.btn {
  $this: &;

  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  @include anim();
  padding: 0 40px 0 30px;
  height: 50px;
  //padding: 16px 25px 16px 30px;
  @include book();
  font-size: 15px;
  line-height: 1.2;
  color: $black;
  z-index: 1;
  //background: $yellow;
  text-decoration: none;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $yellow;
    z-index: -1;
    @include skewClipPath('right', 'bottom', 13px);
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    text-decoration: none;
    filter: drop-shadow(0 11px 20px rgba($yellow, .35));
  }


  &:disabled {
    color: $gray-dark;
    background: $gray-light;

    &:hover {
      filter: none;
    }

    &:after {
      background: $gray-light;
    }
  }

  @mixin smButton() {
    height: 40px;
    font-size: 13px;
    padding-right: 25px;
    padding-left: 20px;

    &#{$this}--leftBottom, &#{$this}--leftTop {
      padding-left: 25px;
      padding-right: 20px;
    }
  }

  &--sm {
    @include smButton();
  }

  &--smMobile {
    @include mobile() {
      @include smButton();
    }
  }

  &--white {
    &:before {
      background: $white;

    }

    color: $green-dark;

    &:hover {
      filter: drop-shadow(0 11px 20px rgba($white, .35));
    }
  }

  &--outline {
    &:before {
      background: $gray;
    }

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 1px;
      left: 1px;
      right: 1px;
      bottom: 1px;
      background: $white;
      @include skewClipPath('right', 'bottom', 13px);
    }

    &:hover {

    }
  }

  &--leftBottom, &--leftTop {
    padding-left: 35px;
    padding-right: 30px;
  }

  &--leftBottom {
    &:before, &:after {
      @include skewClipPath('left', 'bottom', 13px);
    }
  }

  &--leftTop {
    &:before, &:after {
      @include skewClipPath('left', 'top', 13px);
    }
  }

  &--rightBottom {
    &:before, &:after {
      @include skewClipPath('right', 'bottom', 13px);
    }
  }

  &--rightTop {
    &:before, &:after {
      @include skewClipPath('right', 'top', 13px);
    }
  }

  &--block {
    width: 100%;
  }

  @include mobile() {
    &--smLeftBottom {
      &:before, &:after {
        @include skewClipPath('left', 'bottom', 13px);
      }
    }

    &--smLeftTop {
      &:before, &:after {
        @include skewClipPath('left', 'top', 13px);
      }
    }

    &--smRightBottom {
      &:before, &:after {
        @include skewClipPath('right', 'bottom', 13px);
      }
    }

    &--smRightTop {
      &:before, &:after {
        @include skewClipPath('right', 'top', 13px);
      }
    }

    &--smLeftBottom, &--smLeftTop {
      padding-left: 35px;
      padding-right: 30px;
    }
    &--smRightBottom, &--smRightTop {
      padding-left: 30px;
      padding-right: 35px;
    }
  }

  svg {
    width: 10px;
    height: 10px;
    flex-shrink: 0;
  }
}

