.counter {
  $this: &;

  display: flex;

  @mixin sm() {
    #{$this}__value, #{$this}__button {
      height: 30px;
      width: 30px;
    }
  }

  @include mobile() {
    @include sm();
  }

  &--sm {
    @include sm();
  }

  &__button {
    width: 38px;
    height: 38px;
    border: 1px solid $gray;
    background: $gray-light;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: $green-dark;
  }

  &__value {
    width: 38px;
    height: 38px;
    border: 1px solid $gray;
    border-left: 0;
    border-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include book();
  }

}
