.input {
  //input, textarea {
  //  display: block;
  //  width: 100%;
  //  @include text2();
  //  color: $black;
  //  @include placeholder($dark-gray);
  //  padding-bottom: 18px;
  //  border-bottom: 1px solid $dark-gray;
  //  @include anim();
  //  @include mobile(){
  //    font-size: 16px;
  //    padding-bottom: 10px;
  //  }
  //
  //  &:hover, &:focus {
  //    border-color: $black;
  //  }
  //
  //  &.wpcf7-not-valid {
  //    border-color: $red;
  //    color: $red;
  //    @include placeholder($red);
  //  }
  //}
  //
  //textarea {
  //  height: 120px;
  //  min-width: 100%;
  //  max-width: 100%;
  //  resize: vertical;
  //}

}
