.breadcrumbs {
  $this: &;

  padding: 23px 0;
  display: flex;
  margin: 0 -5px;
  @include mobile() {
    padding: 14px 0;
  }

  //ul, li {
  //  margin: 0;
  //  padding: 0;
  //  list-style: none;
  //}

  //ul, > span > span {
  //  display: flex;
  //  align-items: center;
  //  flex-wrap: wrap;
  //  margin: 0 -5px;
  //}

  a, span {
    display: flex;
    padding: 5px;
    font-size: 13px;
    line-height: 1;
    @include ls();
    @include mobile() {
      padding: 4px 5px;
      font-size: 10px;
      line-height: 1;
    }

    &:after {
      content: "";
      display: block;
      width: 1px;
      height: 12px;
      transform: rotate(32deg);
      background: #161616;
      margin: 0 8px 0 18px;
      @include mobile() {
        margin: 0 0 0 7px;
      }
    }
  }

  a {
    color: $gray-dark;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:after {
      background: $gray-dark;
    }
  }
}
