+infoPage('Производственная компания «Ваш Дом»', ['Производственная компания «Ваш Дом»'])
  .manufacture
    .manufacture__row
      .manufacture__text
        p Значительный опыт производства позволил компании «Ваш Дом» достичь высочайшего уровня качества собственной продукции и #[a(href='#') сократить сроки выполнения индивидуальных заказов до 3 часов!]
        p Современное производственное оборудование, квалифицированный персонал и высококачественное сырье от лидеров металлургической промышленности – гарантия надежности и долговечности кровли «Ваш Дом».
        p Завод по производству кровельных материалов «Ваш Дом» полностью укомплектован прокатными станками название, высокоточными станками с ЧПУ название и линией порошковой окраски.
        p Собственные производственные мощности и контроль на каждом этапе производства позволяют нам выпускать продукцию безупречного качества с высокой конкурентоспособностью. При этом отсутствие необходимости транспортировки из других регионов позволяет нам предлагать выгодные цены по сравнению с аналогичной продукцией, привезенной из Москвы.Самое серьезное внимание мы уделяем качеству упаковки и хранения продукции на своих складах, а также последующей транспортировке произведенного металлопрофиля и черепицы.
        p Продукция производственной компании «Ваш Дом» отлично зарекомендовала себя на рынке кровельных материалов и имеет высокий спрос как среди индивидуальных строителей, так и в сообществе профессионалов. Это стало отправной точкой для развития собственной дилерской сети, которая расширяется с каждым годом.
      .manufacture__aside
        .manufacture__card
          +the_svg('manufacture-01', 'manufacture')
          | обрабатываем в год 4000 тонн сырья
        .manufacture__card
          +the_svg('manufacture-02', 'manufacture')
          | производим в год более 1nbsp;000 000 м#[sup 2] кровли
    h2.manufacture__subtitle Производство кровли «Ваш Дом» это:
    ul.manufacture__list
      li
        .manufacture__decor: +the_svg('star', 'manufacture')
        | прямые долгосрочные поставки от ведущих металлургических заводов;
      li
        .manufacture__decor: +the_svg('star', 'manufacture')
        | собственная#[br] дилерская сеть
      li
        .manufacture__decor: +the_svg('star', 'manufacture')
        | высокое качество кровли, соблюдение ГОСТ, отсутствие дефектов (разнотоновки, царапин, изменения толщины)
      li
        .manufacture__decor: +the_svg('star', 'manufacture')
        | изготовление профнастила, гофролиста, гладкого листа, металлочерепицы
      li
        .manufacture__decor: +the_svg('star', 'manufacture')
        | экономия ваших средств#[br]и минимизация отходов
      li
        .manufacture__decor: +the_svg('star', 'manufacture')
        | срочное изготовление#[br] в размер от 3-х часов

    button.manufacture__video
      .manufacture__videoText Посмотрите, как создают кровлю для Вашего дома
      .manufacture__videoIcon: +the_svg('youtube')



