.manufacture {
  $this: &;

  &__row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 47px;
    @include mobile() {
      flex-direction: column;
      margin-bottom: 22px;
    }
  }

  &__text {
    padding-right: 70px;
    @include mobile() {
      padding: 0;
      margin-bottom: 17px;
    }
  }

  &__aside {
    width: 200px;
    flex-shrink: 0;
    @include mobile() {
      max-width: 300px;
      width: 100%;
    }
  }

  &__card {
    border: 1px solid $gray;
    position: relative;
    border-top: 0;
    z-index: 1;
    margin-top: 32px;
    margin-bottom: 46px;
    padding: 17px 40px 16px 84px;
    font-size: 15px;
    line-height: (21/15);
    hyphens: auto;
    @include skew('top', 'left', 7deg, 1px) {
      border: 1px solid $gray;
      border-bottom: 0;
    }
    @include mobile() {
      font-size: 14px;
      line-height: (20/14);
      padding: 14px 20px 24px 79px;
      margin-bottom: 36px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    svg {
      position: absolute;
      left: 29px;
      top: 24px;
      width: 36px;
      height: 36px;
      color: $green;
      @include mobile() {
        left: 24px;
        top: 14px;
        width: 40px;
        height: 40px;
      }
    }
  }

  &__subtitle {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 35px;
    letter-spacing: 0;
    @include book();
    @include mobile() {
      font-size: 24px;
      line-height: (30/24);
      margin-bottom: 14px;
    }
  }

  &__list {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
    @include mobile() {
      margin-bottom: 24px;
    }

    li {
      padding-left: 65px;
      line-height: (26/18);
      width: 33.3333%;
      margin-bottom: 22px;
      padding-right: 20px;
      @include mobile() {
        width: 100%;
        padding-left: 64px;
        padding-right: 10px;
        font-size: 16px;
        line-height: (22/16);
        margin-bottom: 15px;
      }
    }
  }

  &__decor {
    position: absolute;
    top: 10px;
    left: 10px;
    background: $white;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include green-shadow();
    @include mobile() {
      top: 19px;
    }

    &:before, &:after {
      content: '';
      position: absolute;
    }

    &:before {
      width: 50px;
      height: 50px;
      top: -10px;
      left: -10px;
      background: $gray-light;
      z-index: -1;
      @include mobile() {
      }
    }

    svg {
      width: 14px;
      height: 14px;
      color: $green;
      @include mobile() {
      }
    }
  }

  &__video {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 236px;
    padding-top: 45px;
    background: url(img/video.jpg) 50% 0% no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile() {
      margin-bottom: 50px;
      height: 120px;
      padding-top: 20px;
    }
  }

  &__videoText {
    width: 145px;
    margin-right: 30px;
    @include mobile() {
      position: absolute;
      width: 150px;
      top: 100%;
      margin-top: 11px;
      left: 0;
      font-size: 14px;
      line-height: (20/14);
    }
  }

  &__videoIcon {
    position: relative;
    background: $red;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 5.818px 10.495px 24.36px 4.64px rgba(255, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile() {
      width: 44px;
      height: 44px;
    }

    &:before {
      content: '';
      position: absolute;
      width: 110px;
      height: 110px;
      top: -10px;
      left: -10px;
      background: $white;
      border-radius: 50%;
      z-index: -1;
      @include mobile() {
        width: 60px;
        height: 60px;
        top: -8px;
        left: -8px;
      }
    }

    svg {
      width: 34px;
      height: 34px;
      color: $white;
      @include mobile() {
        width: 20px;
        height: 20px;
      }
    }
  }
}
