.individual
  .individual__aside
    .individual__title Не нашли#[br]нужный бренд?#[br]#[span Привезем!]
    .individual__text Разнообразный и богатый опыт новая модель организационной деятельности позволяет оценить значение соответствующий условий активизации.
  .individual__main
    form.individual__form
      label.input
        .input__label Имя
        label.input__input.input__input--rightTop: input
      label.input
        .input__label Ваш телефон
        .input__input.input__input--rightTop: input(type='tel')
      label.input
        .input__label Комментарий
        .input__input.input__input--rightTop: input

      button.btn.btn--rightTop Получить точный расчет кровли
