html {
  font-family: 'Futura New', sans-serif;
  color: $black;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.45;
  background: $white;
  overflow-x: hidden;
  overflow-wrap: break-word;
  scroll-behavior: smooth;
  @include media('md') {
    font-size: 16px;
    line-height: 1.375;
  }
}

@media print {
  @page {
    margin: 1cm;
  }
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

html, body {
  min-height: 100vh;
}

.c {
  margin-left: auto;
  margin-right: auto;
  max-width: $container-lg;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  //@include media('lg') {
  //  max-width: $container-md;
  //}
  @include media('md') {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 500px;
  }
}

img[data-src],
img[data-srcset] {
  min-height: 1px;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.small {
  font-size: 0.85rem;
  opacity: 0.5;
}

.animated {
  & > * {
    visibility: hidden;
  }
}

.nowrap {
  display: inline;
  white-space: nowrap;
}

.content {
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 1em;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.wavyline {
  display: block;
  color: $green;
  width: 75px;
  height: 14px;
}

.color {
  display: block;
  width: 20px;
  height: 15px;
  position: relative;
  margin-left: auto;
  z-index: 1;
  background: currentColor;
  @include skew('bottom', 'left', 5deg) {
    background: currentColor;
  }
}


.pswp__item {
  height: calc(100% - 92px);
}
//.pswp__zoom-wrap {
//  padding-bottom: 100px;
//}

.pswp__bullets-indicator {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: auto;
  max-width: 100%;
}

.pswp__bullet {
  flex-shrink: 0;
  width: 100px;
  height: 72px;
  margin: 0 5px;
  border: 1px solid transparent;
  @include anim();

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.pswp__bullet--active {
  border: 1px solid $green;
}