h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
  line-height: 1;
  hyphens: auto;
  @include ls-m();

  span {
    color: $green-dark;
  }
}

h1, .h1 {
  font-size: 60px;
}

h2, .h2 {
  font-size: 46px;
  @include mobile() {
    font-size: 32px;
  }
}

h3, .h3 {
  font-size: 30px;
}

h4, .h4, h5, .h5, h6, .h6 {
  font-size: 24px;
}

b, strong {
  font-weight: 700;
}

p {
  margin-bottom: 0.7em;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  //color: $;
  //color: $blue;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    //text-decoration: underline;
    //color: $blue;
  }
}

ul, ol {
  margin-bottom: 1.55em;
  line-height: 1.5;
}

ul li, ol li {
  margin-bottom: .8em;
  position: relative;
}

ul {
  list-style: disc;
  padding-left: 1.55em;

  li {
    position: relative;
  }

}

ol {
  counter-reset: list;
  list-style: decimal;
  padding-left: 1.55em;
}

del, s {
  text-decoration: line-through;
}
