.filter {
  $this: &;

  @include mobile() {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $white;
    flex-direction: column;
    display: flex;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    @include anim(.2s);


    &--active {
      z-index: 10;
      opacity: 1;
      pointer-events: all;
      visibility: visible;

    }
  }

  &__head {
    display: none;
    @include mobile() {
      display: flex;
      align-items: center;
      height: 91px;
      border-bottom: 1px solid $gray;
      font-weight: bold;
      font-size: 32px;
      line-height: 1;
      @include ls-m();
    }
  }

  &__footer {
    display: none;
    @include mobile() {
      display: flex;
      align-items: center;
      height: 82px;
      border-top: 1px solid $gray;

      #{$this}__c {
        justify-content: space-between;
      }
    }
  }

  &__c {
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  &__close {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $green-dark;
    color: $green-dark;
    margin-right: 10px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__container {
    flex: 1;
    min-height: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__item {
    border-bottom: 1px solid $gray;
    padding: 20px 24px;
    @include mobile() {
      > * {
        width: 100%;
        max-width: 460px;
        margin: 0 auto;
      }
    }

    &--collapsed {
      & #{$this}__title svg {
        transform: none;
      }

      & #{$this}__body {
        display: none;
      }
    }
  }

  &__title {
    display: flex;
    align-items: flex-start;

    font-size: 15px;
    line-height: (18/15);
    @include demi();
    @include ls();

    svg {
      width: 9px;
      height: 9px;
      color: $green-dark;
      margin-right: 11px;
      margin-top: 5px;
      transform: rotate(180deg);
      @include anim();
    }
  }

  &__body {
    margin-top: 16px;
    margin-bottom: 4px;
    overflow: hidden;

  }

  &__priceSlider {
  }

  &__prices {
    margin-top: 20px;
    display: flex;
  }

  &__price {
    flex: 1;
    position: relative;
    margin-right: -1px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__priceLabel {
    font-size: 15px;
    @include ls();
    color: $gray-dark;
    position: absolute;
    left: 15px;
    top: 10px;
    pointer-events: none;
  }

  &__priceInput {
    position: relative;
    display: block;
    width: 100%;
    border: 1px solid $gray;
    @include book();
    @include ls();
    font-size: 15px;
    height: 40px;
    padding: 0 10px 0 33px;
    @include anim();

    &:hover {
      z-index: 1;
      border-color: $green;
    }

    &:focus {
      z-index: 2;
      border-color: $green-dark;
    }
  }

  &__checkboxes {
    &--active {
      & #{$this}__checkbox:nth-child(n + 6) {
        display: block;
      }

      & #{$this}__button {
        .inactive {
          display: none;
        }

        .active {
          display: block;
        }
      }
    }
  }

  &__checkbox {
    > span {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 15px;
      @include ls();
      line-height: (18/15);
    }

    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(n + 6) {
      display: none;
    }

  }

  &__color {
    display: block;
    width: 20px;
    height: 15px;
    position: relative;
    z-index: 1;
    background: currentColor;
    @include skew('bottom', 'left', 5deg) {
      background: currentColor;
    }
  }

  &__button {
    margin-top: 8px;
    width: 100%;
    @include book();

    .active {
      display: none;
    }
  }
}
