.product {
  $this: &;
  background: $gray-light;
  padding-bottom: 60px;
  @include mobile() {
    padding-bottom: 39px;
  }

  &__container {
    max-width: 1080px;
    margin: 0 auto;
    @include mobile() {
      padding: 0 20px;
    }
  }

  &__content {
    position: relative;
    border: 1px solid $gray;
    background: $white;
    @include mobile() {
      margin: 0;
    }
  }

  &__head {
    display: flex;
    align-items: flex-start;
    padding: 52px 59px 59px;
    border-bottom: 1px solid $gray;
    @include mobile() {
      padding: 0 0 30px;
      flex-direction: column;
      align-items: center;
    }
  }

  &__aside {
    width: 450px;
    margin-right: 37px;
    position: relative;
    @include mobile() {
      width: 100%;
      margin-right: 0;
      padding: 30px 0 22px;
    }
  }

  &__badges {
    position: absolute;
    top: 7px;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__badge {
    position: relative;
    display: block;
    background: $green-dark;
    color: $white;
    font-weight: bold;
    font-size: 15px;
    line-height: 1;
    @include ls();
    min-width: 48px;
    padding: 2px 4px 3px;
    z-index: 1;
    margin-bottom: 5px;

    @include skew('right', 'bottom', 15deg) {
      background: $green-dark;
    }
    @include mobile() {
      font-size: 12px;
      height: 16px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--danger {
      background: $red;

      &:after {
        background: $red;
      }
    }
  }

  &__slider {
    overflow: hidden;
  }

  &__slides {
    display: flex;
  }

  &__slide {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 290px;
    @include mobile() {
      max-height: 132px;
    }

    a {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }

  &__thumbs {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    @include mobile() {
      margin-top: 10px;
      padding: 0px 29px;
    }
  }

  &__thumb {
    width: 25%;
    height: 72px;
    border: 1px solid transparent;
    @include anim();
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile() {
      height: 35px;
    }

    &--active {
      border-color: $green-dark;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    margin: 20px -5px 0;
    @include mobile() {
      flex-direction: column;
      margin: 20px 29px 0;
    }
  }

  &__button {
    flex: 1;
    margin: 0 5px;
    @include mobile() {
      width: 100%;
      margin: 5px 0 0 0;
    }

    a, button {
      border: 1px solid $gray;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      @include ls();
      text-decoration: none;
      height: 50px;
      @include anim();
      @include mobile() {
        height: 40px;
      }

      &:hover {
        border-color: $green;
      }

      &:active {
        border-color: $green-dark;
      }
    }
  }

  &__main {
    flex: 1;
    @include mobile() {
      padding: 0 28px;
      width: 100%;
      max-width: 520px;
    }
  }

  &__title {
    font-size: 30px;
    line-height: (34/30);
    font-weight: normal;
    @include ls();
    @include demi();
    margin-bottom: 31px;
    hyphens: none;
    @include mobile() {
      font-size: 24px;
      line-height: (30/24);
      margin-bottom: 22px;
    }
  }

  &__coat {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    @include mobile() {
      flex-direction: column;
      margin-bottom: 27px;
    }
  }

  &__coatTitle {
    @include book();
    @include ls();
    margin-right: 10px;
    @include mobile() {
      width: 100%;
      font-size: 16px;
      margin: 0 0 9px;
    }
  }

  &__coatSelect {
    flex: 1;
    @include mobile() {
      width: 100%;
    }
  }

  &__info {
    @include mobile() {
      //margin: 0 -28px;
      //padding: 22px 29px 30px;
      //border-top: 1px solid $gray;
    }

    &--active {
      #{$this}__infoRest {
        max-height: none;
      }

      #{$this}__infoButton {
        .active {
          display: block;
        }

        .inactive {
          display: none;
        }
      }
    }
  }

  &__infoPreview {

  }

  &__infoRest {
    overflow: hidden;
    max-height: 0;
    @include anim();
  }

  &__infoItem {
    display: flex;
    align-items: flex-end;
    font-size: 15px;
    line-height: (22/15);
    @include ls();
    margin-bottom: 10px;
    @include mobile() {
      font-size: 14px;
      line-height: (19/14);
      margin-bottom: 5px;
    }

    &:after {
      content: '';
      height: 100%;
      border-bottom: 1px dotted $gray-dark;
      flex: 1;
      order: 1;
      margin: 6px 5px;
      @include mobile() {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &__infoLabel {
    color: $gray-dark;
  }

  &__infoValue {
    @include book();
    margin-left: auto;
    order: 2;
    flex-shrink: 0;
  }

  &__infoButton {
    font-size: 15px;
    line-height: (18/15);
    @include ls();
    border-bottom: 1px dotted $green-dark;
    @include mobile() {
      font-size: 14px;
      line-height: (18/14);
      margin-top: -6px;
    }

    .active {
      display: none;
    }
  }

  &__filters {
    margin-top: 34px;
    display: flex;
    @include mobile() {
      flex-direction: column;
      margin-top: 27px;
    }
  }

  &__filter {
    min-width: 170px;
    @include mobile() {
      width: 100%;
      display: flex;
      align-items: center;
    }
  }

  &__filterLabel {
    @include demi();
    @include ls();
    font-size: 15px;
    margin-bottom: 2px;
    @include mobile() {
      margin: 0 10px 0 0;
    }
  }

  &__filterSelect {
    flex: 1;
    width: 100%;
  }

  &__headers {
    display: flex;
    @include mobile() {
      flex-direction: column;
    }
  }

  &__header {
    position: relative;
    margin-top: -1px;
    margin-right: -1px;
    border: 1px solid $gray;
    flex: 1;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    @include ls();
    @include anim();
    @include mobile() {
      font-size: 14px;
      min-height: 50px;
      height: auto;
      flex: auto;
      margin-left: -1px;
    }

    &:first-child {
      margin-left: -1px;
    }

    &:hover {
      border-color: $green;
    }

    &--active {
      border-color: $green-dark;
      z-index: 1;
    }
  }

  &__bodies {
    position: relative;
    overflow: hidden;
  }

  &__body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @include anim();
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    visibility: hidden;

    &--active {
      opacity: 1;
      z-index: 1;
      visibility: visible;
      position: static;
      pointer-events: all;

    }
  }

  &__block {
    position: relative;
    border-bottom: 1px solid $gray;
    padding: 36px 110px 35px;
    @include anim();
    will-change: padding;
    @include mobile() {
      padding: 25px 15px 23px 58px;
    }

    &--active {
      #{$this}__table {
        display: flex;
      }

      #{$this}__toggle {
        .inactive {
          display: none;
        }

        .active {
          display: inline;
        }

        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__blockTitle {
    position: relative;
    display: flex;
    align-items: flex-start;
    font-size: 18px;
    line-height: (19/18);
    @include demi();
    @include mobile() {
      font-size: 16px;
      line-height: (22/16);
      margin-right: 20px;
    }
  }

  &__blockCounter {
    position: absolute;
    right: 100%;
    top: 0;
    color: $green-dark;
    width: 50px;
    flex-shrink: 0;
    @include mobile() {
      width: 30px;
    }
  }

  &__options {
    display: flex;
    margin-top: 26px;
    @include mobile() {
      display: block;
      margin-top: 14px;
    }
  }

  &__checkbox {
    margin-right: 30px;
    @include mobile() {
      margin: 12px 0 0 0;
    }
  }

  &__note {
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: (19/15);
    margin-top: 21px;
    @include ls();

    svg {
      width: 16px;
      height: 16px;
      color: $red;
      margin-right: 10px;
      flex-shrink: 0;
    }

    a {
      text-decoration: none;
      border-bottom: 1px dotted $green-dark;
      color: $green-dark;
    }
  }

  &__toggle {
    margin-top: 22px;

    .inactive, .active {
      display: inline;
    }

    .active {
      display: none;
    }

    svg {
      width: 10px;
      height: 10px;
      color: $green-dark;
      margin-left: 5px;
      display: inline-block;
    }
  }

  &__toggleContent {
    font-size: 15px;
    line-height: (18/14);
    @include ls();
    border-bottom: 1px dotted $green-dark;
  }

  &__table {
    display: none;
    overflow: auto;
    //display: flex;
    flex-direction: column;
    margin: 0 -59px;
    padding: 17px 59px 0;
    @include mobile() {
      margin: 0 -15px 0 -58px;
      padding: 15px 15px 0 58px;
    }
  }

  &__tableName {
    min-width: 200px;
  }


  &__tablePrice {
    min-width: 150px;
    text-align: center;
  }

  &__tableCounter {
    width: 0;
    text-align: center;
  }

  &__tableHelp {
    min-width: 200px;
  }

  &__footer {
    display: flex;
    padding: 40px 59px 39px;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    @include mobile() {
      flex-direction: column;
      padding: 30px 29px 29px 29px;
      gap: 10px
    }
  }

  &__characteristics {
    max-width: 550px;
    margin-bottom: 1em;
  }
}
