.categories
  .c
    h1.h2.categories__title Каталог
    .categories__items
      .categories__item
        .categories__image: div: div(style='background-image: url(' + require('src/modules/categories/img/category_01.jpg') + ')')
        a.categories__name(href='#') кровля
        a.categories__link(href='#') Металлочерепица
        a.categories__link(href='#') Кровельный профнастил
        a.categories__link(href='#') Гибкая черепица
        a.categories__link(href='#') Натуральная черепица
        a.categories__link(href='#') Сэндвич-панели
        a.categories__link(href='#') Композитная кровля
        a.categories__link(href='#') Фальцевая кровля

      .categories__item
        .categories__image: div: div(style='background-image: url(' + require('src/modules/categories/img/category_02.jpg') + ')')
        a.categories__name(href='#') ФАСАДЫ
        a.categories__link(href='#') Стеновой профнастил
        a.categories__link(href='#') Сэндвич-панели
        a.categories__link(href='#') Фиброцементный сайдинг
        a.categories__link(href='#') ЭкоБрус

      .categories__item
        .categories__image: div: div(style='background-image: url(' + require('src/modules/categories/img/category_03.jpg') + ')')
        a.categories__name(href='#') ЗАБОРЫ
        a.categories__link(href='#') Металлический штакетник
        a.categories__link(href='#') Модульные ограждения
        a.categories__link(href='#') Профильная труба для забора
        a.categories__link(href='#') Профнастил для забора
        a.categories__link(href='#') Сварные ограждения

      .categories__item
        .categories__image: div: div(style='background-image: url(' + require('src/modules/categories/img/category_04.jpg') + ')')
        a.categories__name(href='#') Сопутствующие материалы
        a.categories__link(href='#') Вентиляция и проходные элементы
        a.categories__link(href='#') Водосточные системы
        a.categories__link(href='#') Дымники
        a.categories__link(href='#') Мансардные окна
        a.categories__link(href='#') Снегозадержатели
        a.categories__link(href='#') Чердачные лестницы

      .categories__item
        .categories__image: div: div(style='background-image: url(' + require('src/modules/categories/img/category_05.jpg') + ')')
        a.categories__name(href='#') ПРОЧЕЕ
        a.categories__link(href='#') Влагостойкая фанера OSB
