.banners
  .c
    .banners__container
      .banners__container
        .banners__main
          .banners__title Узнайте стоимость#[br] кровли, фасада, забора
          .banners__text Отправьте нам чертежи вашего проекта#[br] и закажите предварительную смету
          .banners__button: button.btn Подробнее
          img.banners__decor(src=require('src/modules/banners/img/decor.png'))

      .banners__container
        .banners__item
          .banners__title Получите#[br] консультацию#[br] по выбору и монтажу
          .banners__text: a(href='tel:+7 (8412) 21-05-67') +7 (8412) 21-05-67
          .banners__button: button.btn(data-micromodal-trigger="callback-popup") Заказать звонок

        .banners__item.banners__item--gray
          .banners__title Приходите к нам!
          .banners__text Все покажем и расскажем
          .banners__work ежедневно: #[span 8:00 - 19:00]
          a.banners__address(href='#')
            +the_svg('pin')
            span Магазины на карте
