.banners
  .c
    .banners__items
      .banners__item
        .banners__img: +the_svg('services_03', 'services')
        .banners__title Узнайте стоимость
        .banners__subtitle кровли, фасада, забора
        .banners__text Отправьте нам чертежи вашего проекта и закажите предварительную смету.
        .banners__action: a.rawBtn.rawBtn--white(href='#') Подробнее
      .banners__item
        .banners__img: +the_svg('testimonial')
        .banners__title Консультация
        .banners__subtitle по материалам и монтажу
        .banners__text Напишите нам из формы обратной связи на этом сайте, в любом мессенджере или позвоните по телефону
        .banners__phone: a(href='#') +7 (8412) 21-05-67
        .banners__action: a.rawBtn.rawBtn--white(href='#') Заказать звонок

      .banners__item
        .banners__img: +the_svg('geo')
        .banners__title Приходите
        .banners__subtitle к нам в магазин
        .banners__text
          | ПН-ПТ 8:00-18:00#[br]
          | СБ 10:00-14:00#[br]
          | ВС выходной
        .banners__action: a.rawBtn.rawBtn--white(href='#') Магазины
