.paymentForm
  .paymentForm__title Для оплаты, введите ваши данные
  form
    label.input.paymentForm__input
      .input__label Фамилия Имя Отчество *
      label.input__input.input__input--rightTop: input
    label.input.paymentForm__input
      .input__label E-mail *
      label.input__input.input__input--rightTop: input
    label.input.paymentForm__input.paymentForm__input--narrow
      .input__label Номер телефона *
      label.input__input.input__input--rightTop: input(type='tel')
    label.input.paymentForm__input.paymentForm__input--narrow
      .input__label Сумма оплаты, руб. *z
      label.input__input.input__input--rightTop: input
    .input.paymentForm__input.paymentForm__input--narrow
      .input__label
        .paymentForm__note * - поля, отмеченные звездочкой, обязательно для заполнения
      button.btn.btn--rightTop Оплатить
