.header {
  $this: &;

  //background: $black;
  //color: $white;
  position: relative;
  z-index: 10;

  &:after {
    display: none;
    @include mobile() {
      display: block;
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($black, .25);
      z-index: -1;
      @include hidden();
      @include anim();
    }
  }

  $main-height: 164px;
  &__main {
    @include mobile() {
      position: fixed;
      top:0;
      left: 0;
      width: 100%;
      background: $white;
      height: $main-height;
      z-index: 1;
    }
  }

  &__placeholder {
    @include mobile() {
      height: $main-height;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    //justify-content: space-between;
    height: 110px;
    @include mobile() {
      height: auto;
      //height: 123px;
    }
  }

  &__logo {
    flex-shrink: 0;
    @include mobile() {
      width: 45px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }

  &__ctaMobile {
    display: none;
    @include mobile() {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;
      color: $gray-new-2;
      font-size: 16px;

    }
  }

  &__cta {
    margin-left: 30px;
    @include mobile() {
      display: none;
    }
  }


  &__links {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    @include mobile() {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      background: $white;
      color: $black;
      height: 40px;
      justify-content: center;
    }

    a {
      text-decoration: none;
      margin: 0 20px;
      font-size: 16px;
      border-bottom: 1px dotted $green-dark;
      @include anim();
      @include mobile() {
        font-size: 12px;
        margin: 0 7px;
      }


      &:hover {
        text-decoration: none;
        border-color: $green-dark;
      }
    }
  }

  &__aside {
    margin-left: auto;
    display: flex;
    align-items: center;

    > * {
      margin-left: 50px;

    }
  }

  &__location {
    position: relative;
    padding-left: 35px;
    text-decoration: none;
    @include mobile() {
      display: none;
    }
  }

  &__locationIcon {
    position: absolute;
    color: $green-dark;
    width: 29px;
    height: 29px;
    top: 4px;
    left: -2px;
  }

  &__locationLabel {
    font-size: 16px;
    line-height: 1;
    color: $green-dark;
  }

  &__locationValue {
    font-size: 14px;
    text-transform: uppercase;
    //max-width: 220px;
  }

  &__contact {
    position: relative;
    padding-left: 30px;
    flex-shrink: 0;
    //margin-left: 20px;
  }

  &__contactIcon {
    position: absolute;
    top: 7px;
    left: -4px;
    width: 29px;
    height: 29px;
    color: $green-dark;
  }

  &__contactValue {
    text-decoration: none;
    font-size: 18px;
    line-height: 1;
    @include mobile() {
      font-size: 14px;
    }
  }

  &__contactButton {
    display: flex;
    align-items: center;
    color: $green-dark;
    font-size: 16px;
    line-height: 1;
    @include mobile() {
      font-size: 12px;
    }

    &:hover {
      text-decoration: underline;
    }

    svg {
      width: 4px;
      height: 6px;
      margin-left: 8px;
      margin-top: 4px;
      transform: rotate(-90deg);
    }
  }

  &__cart {
    text-decoration: none;
    position: relative;
    display: block;

    &--top {
      padding-left: 35px;

      #{$this}__cartIcon {
        position: absolute;
        top: 11px;
        left: 2px;
      }

      @include mobile() {
        display: none;
      }
    }

    &--bottom {
      display: none;
      @include mobile() {
        //background: $black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;

        #{$this}__cartCounter {
          left: 50%;
          margin-left: -21px;
        }
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__cartIcon {
    width: 22px;
    height: 22px;
    color: $green-dark;
  }

  &__cartLabel {
    font-size: 13px;
    opacity: .75;
    @include mobile() {
      display: none;
    }
  }

  &__cartValue {
    @include demi();
    font-size: 15px;
    @include mobile() {
      display: none;
    }
  }

  &__cartCounter {
    position: absolute;
    left: -9px;
    top: 4px;
    height: 18px;
    padding: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: bold;
    background: $yellow;
    color: $black;
    z-index: 1;
    @include skew('left', 'top', 10deg) {
      background: $yellow;
    }

    &:empty {
      display: none;
    }
  }

  &__cartContainer {
    position: relative;
    //margin-left: 20px;
    @include mobile() {
      display: none;
    }
  }

  &__cartPopup {
    position: absolute;
    background: $white;
    border: 1px solid $gray;
    width: 331px;
    max-height: 553px;
    display: flex;
    right: 0;
    top: 100%;
    margin-top: 25px;
    z-index: 3;

    @include hidden();
    @include anim();
    transform: translateY(20px);

    &:before {
      content: '';
      position: absolute;
      bottom: 100%;
      right: 80px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12px 10px 12px;
      border-color: transparent transparent $white transparent;
    }
  }

  &__bottom {
    display: flex;
    height: 60px;
    position: relative;
    z-index: 1;
    background: $green-dark;
    color: $white;
    @include mobile() {
      height: 48px;
      background: transparent;
      color: $black;
    }
  }

  &__catalogButton {
    height: 100%;
    background: $green;
    color: $white;
    display: flex;
    align-items: stretch;

    &:hover {
      svg {
        color: $yellow;
      }
    }

    @include mobile() {
      background: $green-dark;
    }
  }

  &__catalogButtonIcon {
    width: 60px;
    position: relative;
    @include mobile() {
      width: 48px;
    }

    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 100%;
      background: $white;
      opacity: .25;
      margin-left: auto;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 18px;
      height: 18px;
      margin-top: -9px;
      margin-left: -9px;
      @include anim();
    }

    .inactive {
      opacity: 0;
    }
  }

  &__catalogButtonText {
    @include demi();
    font-size: 15px;
    text-transform: uppercase;
    padding: 0 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    //color: $white;
    @include mobile() {
      font-size: 12px;
      padding: 0 12px;
    }
  }

  &__mainMenu {
    flex: 1;
    position: relative;
    @include mobile() {
      position: static;
      flex: 0;
    }
  }

  &__menu {
    height: 100%;
    @include mobile() {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: auto;
      @include hidden();
      @include anim(.2s);
      overflow: hidden;
    }
  }

  &__menuContainer {
    @include anim(.2s);
    height: 100%;

    ul {
      list-style: none;
    }

    > ul {
      display: flex;
      align-items: center;
      justify-content: stretch;
      margin: 0;
      padding: 0;
      height: 100%;
      @include mobile() {
        flex-direction: column;
        align-items: stretch;
      }

      > li {
        position: static;
        margin: 0;
        padding: 0;
        flex-grow: 1;
        height: 100%;
        @include mobile() {
          height: auto;
        }

        &:hover {
          #{$this}__submenu {
            transform: none;
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            //z-index: 1;
          }
        }

        &.active {
          @include mobile() {
            #{$this}__submenu {
              display: flex;
            }
          }
        }

        > a {
          padding: 0 6px;
          text-decoration: none;
          text-align: center;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid $green-border;
          border-right: 0;
          background: $green-dark;
          color: $white;
          font-size: 15px;
          @include demi();
          text-transform: uppercase;
          @include anim();

          &:hover {
            text-decoration: none;
            color: $yellow;
          }

          @include mobile() {
            height: 60px;
            border: 1px solid $green-border;
            border-top: 0;
          }
        }
      }
    }
  }

  &__submenu {
    position: absolute;
    background: $white;
    top: 100%;
    color: $black;
    border: 1px solid $gray-light;
    max-width: 475px;
    display: flex;
    flex-direction: column;

    transform: translateY(-10px);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: -1;
    @include anim();

    @include mobile() {
      display: none;
      top: 0;
      left: 100%;
      width: 100%;
      height: 100%;
      transform: none;
      opacity: 1;
      pointer-events: all;
      visibility: visible;
    }

    ul {
      margin: 20px;
      padding: 0;
    }

    li {
      margin: 0 0 10px;

      &:last-child {
        margin-bottom: 0;
      }

      > a {
        text-decoration: none;
        border-bottom: 1px dotted $green-dark;

        &:hover {
          color: $green-dark;
        }
      }
    }
  }

  &__submenuContent {
    min-height: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__back {
    display: none;
    @include mobile() {
      flex-shrink: 0;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0 20px;
      border-bottom: 1px solid $gray;
      height: 40px;
      color: $green-dark;
      @include demi();
      font-size: 13px;
      text-transform: uppercase;

      svg {
        width: 9px;
        height: 9px;
        transform: rotate(90deg);
        margin-right: 6px;
      }
    }
  }

  &__title {
    display: none;
    @include mobile() {
      display: block;
      @include demi();
      text-transform: uppercase;
      line-height: (26 / 20);
      font-size: 20px;
      margin: 20px;
    }
  }


  &__cards {
    margin: 40px;
  }

  &__card {
    display: block;
    margin-bottom: 20px;
    position: relative;
    font-size: 18px;
    @include ls();
    line-height: (22/18);
    padding: 19px 75px 24px 24px;
    text-decoration: none;

    @include skewBorder('right', 'top', 25px, $gray, $white);

    &:before {
      @include anim();
    }

    svg {
      position: absolute;
      top: 26px;
      right: 33px;
      color: $green-dark;
      width: 10px;
      height: 10px;
      transform: rotate(-90deg);
    }

    &:hover {
      #{$this}__head {
        color: $green-dark;
      }

      &:before {
        background: $green-border;
      }
    }
  }

  &__head {
    display: inline;
    @include book();
    line-height: 1.45;
    border-bottom: 1px dotted $green-dark;
    @include anim();
  }

  &__text {
    color: $gray-dark;
    margin-top: 10px;
  }

  &__searchButton {
    position: relative;
    width: 60px;
    border: 1px solid $green-border;
    background: $green-dark;
    color: $white;
    margin-left: auto;
    @include mobile() {
      width: 48px;
    }

    &:hover {
      color: $yellow;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 16px;
      height: 16px;
      margin-top: -8px;
      margin-left: -8px;
      @include anim();

      &.inactive {
        opacity: 0;
      }
    }
  }

  &__search {
    position: absolute;
    left: 0;
    width: 100%;
    @include anim(.2s);
    @include hidden();
    z-index: 1;

  }

  &__catalog {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: $white;
    border: 1px solid $gray;
    @include anim(.2s);
    @include hidden();
    transform: translateY(-20px);
    z-index: -1;
  }

  &__menuButton {
    display: none;
    @include mobile() {
      display: block;
      position: relative;
      width: 48px;
      height: 48px;
      color: $black;

      svg {
        width: 14px;
        height: 14px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -7px;
        margin-left: -7px;
      }

      .inactive {
        @include hidden();
      }
    }
  }

  &__locationBottom {
    display: none;
    @include mobile() {
      color: $white;
      background: $green-dark;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 30px 0 25px;
    }
  }

  &__locationBottomIcon {
    width: 25px;
    height: 25px;
    color: $green;
    margin-bottom: 5px;
  }

  &__locationBottomLabel {
    font-size: 12px;
    opacity: .5;
  }

  &__locationBottomValue {
    @include demi();
    font-size: 14px;
    text-transform: uppercase;
  }

  &__mobileMenu {
    display: none;
    @include mobile() {
      display: block;

      //&:before {
      //  content: '';
      //  position: absolute;
      //  left: 0;
      //  width: 100%;
      //  border-bottom: 1px solid $gray-new-2;
      //}
      //&:after {
      //  content: '';
      //  position: absolute;
      //  left: 0;
      //  width: 100%;
      //  border-bottom: 1px solid $gray-new-2;
      //}
    }

    ul, li {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    ul {
      display: flex;
    }

    li {
      flex: 1;
      //border-right: 1px solid $gray-new-2;
      //&:last-child {
      //  border: 0;
      //}
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;
      color: $green-dark;
      font-size: 15px;
      font-weight: 500;
      height: 46px;
      text-decoration: none;
      letter-spacing: .1em;

    }
  }

  &--search {
    #{$this}__search {
      @include visible();
    }

    #{$this}__searchButton {
      .active {
        opacity: 0;
      }

      .inactive {
        opacity: 1;
      }
    }

    &:after {
      @include visible();
      pointer-events: none;
    }
  }

  &--catalog {
    #{$this}__catalog {
      @include visible();
      transform: none;
    }

    #{$this}__catalogButton {
      .active {
        opacity: 0;
      }

      .inactive {
        opacity: 1;
      }
    }

    &:after {
      @include visible();
      pointer-events: none;
    }
  }

  &--menu {
    #{$this}__menu {
      @include visible();
    }

    &:after {
      @include visible();
      pointer-events: none;
    }
  }

  &--cart {
    #{$this}__cartPopup {
      @include visible();
      transform: none;
    }

    &:after {
      @include visible();
      pointer-events: none;
    }
  }


  &--submenu {
    @include mobile() {
      #{$this}__menuContainer {
        transform: translateX(-100%);
      }
    }
  }
}
