.bests
  .c
    .bests__title
      | Хиты продаж
      +the_svg('wavyline')
    .bests__items
      each i in [1,2,3,4,5,6,7]
        .bests__item
          a.bests__card(href='#')
            span.bests__img: img(src=require('src/img/catalog/1.jpg'))
            span.bests__cateogry Гибкая черепица
            span.bests__name Tegola COMFORT CAPRI 2.9 м2 Marrone 434
    .bests__link: a.rawBtn.rawBtn--big.rawBtn--fill(href='#') Каталог товаров
