.bests {
  $this: &;

  padding: 75px 0 70px;
  @include mobile() {
    padding: 33px 0 25px;
  }

  &__title {
    font-size: 30px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 45px;
    text-align: center;
    @include mobile() {
      font-size: 24px;
      line-height: 1.25;
      margin-bottom: 18px;
    }

    span {
      color: $green-dark;
    }
  }

  &__heads {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    @include mobile() {
      margin-left: -20px;
      margin-right: -20px;
      padding: 0 20px 10px 20px;
      justify-content: flex-start;
      overflow: auto;
      margin-bottom: 0px;
    }

    &:before, &:after {
      content: '';
      margin: auto;
    }
  }

  &__head {
    height: 36px;
    border: 1px solid $gray;
    color: $gray-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 19px;
    margin-right: 5px;
    font-size: 15px;
    @include anim();
    @include mobile() {
      font-size: 14px;
    }

    &:last-child {
      margin: 0;
    }

    &:hover {
      border-color: $green;
    }

    &--active {
      border-color: $green-dark;
      color: $black;

      &:hover {
        border-color: $green-dark;
      }
    }
  }

  &__bodies {
    position: relative;
    //width: 100%;
    margin: 0 -10px;
    @include mobile() {
    margin: 0 -5px;
    }
  }

  &__body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(20px);
    @include anim(.3s);

    &--active {
      position: static;
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: none;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    @include mobile() {
      max-width: 500px;
      margin: 0 auto;
    }
  }

  &__item {
    padding: 46px 10px 0 10px;
    width: (100% / 6);
    @include mobile() {
      width: 50%;
      padding-left: 5px;
      padding-right: 5px;
    }

    &--big {
      width: (100% / 3);
      @include mobile() {
        width: 100%;
      }
    }
  }

  &__link {
    margin-top: 44px;
    text-align: center;
    @include mobile() {
      margin-top: 20px;
    }

    a {
      border-bottom: 1px dotted $green-dark;
      @include anim();
      @include mobile() {
        font-size: 14px;
      }

      &:hover {
        text-decoration: none;
        color: $green-dark;
      }
    }
  }
}
