.related
  each i in [1,2,3]
    .related__item
      a.related__card(href='#')
        .related__img
          img(src=require('src/modules/infoPage/img/img.jpg'))
          .related__badge лайф-хак
        .related__title Цена кровли ниже средней на 10 %? Будьте внимательны к качеству и стоимости комплектующих.
