.deliveryBullets {
  $this: &;
  padding: 60px 60px 56px;
  @include mobile() {
    padding: 30px 28px 30px;
  }

  &__items {
    margin-bottom: 52px;
    @include mobile() {
      margin-bottom: 25px;
    }
  }

  &__note {
    display: flex;
    align-items: flex-start;
    font-size: 13px;
    line-height: (19/13);
    @include ls();
    @include mobile() {
      font-size: 12px;
      line-height: (18/12);
    }

    svg {
      width: 16px;
      height: 16px;
      color: $red;
      margin-right: 10px;
      flex-shrink: 0;
    }
  }
}
