.deliveryBullets
  .deliveryBullets__items
    .bullets
      .bullets__item: .bullets__text.bullets__text--narrow #[span Вы можете получить консультацию] по выбору и количеству материалов в наших магазинах.
      .bullets__item: .bullets__text.bullets__text--narrow Также #[b мы поддерживаем решение наших клиентов], которые предпочитают доверить замер объекта специалистам.
      .bullets__item: .bullets__text #[b Инженер] монтажа #[b выезжает] на объект строительства или ремонта по запросу и производит замеры. Эту процедуру можно совместить с доставкой образцов кровельных и фасадных материалов.
      .bullets__item.bullets__item--wide: .bullets__text.bullets__text--wide Помимо замера Вы сможете оценить рекомендуемые образцы, буквально подержать в руках будущую кровлю, забор или фасад, и выбрать наиболее подходящий вариант.
      .bullets__item: .bullets__text При заказе монтажа в производственной компании «Ваш Дом» #[b замеры и доставка образцов – #[span бесплатно!]]
  .deliveryBullets__note
    +the_svg('note')
    | После того как материал выбран и рассчитано его количество, можно заказать и оплатить.
