.frontSlider
  .frontSlider__slider
    .frontSlider__slides
      each i in [1,2,3]
        .frontSlider__slide
          .c
            .frontSlider__content
              .frontSlider__info
                .frontSlider__header Металлочерепица с матовым покрытием 901 р/кв. м
                .frontSlider__text Доступные цвета: RAL 7024, RAL 8017, RAL 9005, RR32
                .frontSlider__btn
                  a.rawBtn.rawBtn--big.rawBtn--fill(href="") Подробнее
              .frontSlider__img: img(src=require('src/modules/frontSlider/img/image 1.jpg'))

  .frontSlider__navigation
    .c
      button.frontSlider__nav.frontSlider__nav--prev: +the_svg('arrow-right')
      button.frontSlider__nav.frontSlider__nav--next: +the_svg('arrow-right')
