.frontSlider {
  $this: &;

  height: 500px;
  position: relative;
  background: $gray-new;
  @include mobile() {
    height: auto;
  }

  &__slider, &__slides, &__slide, &__slide .c, &__content {
    height: 100%;
    @include mobile() {
      height: auto;
    }
  }

  &__slides {
    display: flex;
    align-items: flex-start;
  }

  &__slide {
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;
  }

  &__content {
    position: relative;
    width: calc(40px + 500px);
    padding-left: 40px;
    padding-top: 44px;
    @include mobile() {
      width: auto;
      padding: 0;
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__info {
    @include mobile() {
      padding: 20px 20px calc(30px + 30px + 52px);
    }
  }

  &__header {
    font-size: 46px;
    line-height: 1.25;
    font-weight: 700;
    text-wrap: balance;
    @include mobile() {
      font-size: 22px;
    }
  }

  &__text {
    margin-top: 20px;
    font-size: 18px;
    text-wrap: balance;
  }

  &__btn {
    margin-top: 30px;
    @include mobile() {
      position: absolute;
      bottom: 30px;
    }
  }

  &__img {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    @include mobile() {
      position: relative;
      left: 0;
      width: 100%;
      height: auto;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: -1px; // В хроме мерцает черная полоска во время перелистывания
      width: 340px;
      height: 100%;
      background: linear-gradient(to right, $gray-new, rgba($gray-new, 0));

      @include mobile() {
        top: auto;
        bottom: -1px;
        left: 0;
        height: 50px;
        width: 100%;
        background: linear-gradient(to top, $gray-new, rgba($gray-new, 0));

      }
    }

    img {
      display: block;
      max-height: 100%;
      width: auto;
      @include mobile() {
        width: 100%;
      }
    }
  }

  &__navigation {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;

    @include mobile() {
      bottom: 30px;
    }

    .c {
      display: flex;
      @include mobile() {
        justify-content: flex-end;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    color: $green-dark;
    border: 1px solid $green-dark;
    background: $gray-new;
    @include mobile() {
      width: 52px;
      height: 52px;
    }

    svg {
      width: 32px;
      height: 32px;
      display: block;
      @include mobile() {
        width: 36px;
        height: 36px;
      }
    }

    &--prev {
      transform: rotate(180deg);
      margin-left: 40px;
      margin-right: 12px;
    }
  }
}
